# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Swap files for vi(m)
*.swp

# Generated examples with random tags.
v3/test/agents/*.bali
v3/test/hsmEd25519/*.bali
